* {
  transition: .25s all;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  -ms-transition: .25s all;
  -o-transition: .25s all;
}
body {
  margin: 0;
  padding: 0;
  background: #efefef;
}
.content-wrap {
  width: 100%;
  clear: both;
  overflow: hidden;
}
.content {
  width: 90%;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  padding: 100px 0;
}
h1 {
  font: normal bold 35px/40px 'Arial', sans-serif;
  color: #4d216e;
  padding: 10px 0;
  margin: 0;
}
p {
  font: normal normal 18px/34px 'Arial', sans-serif;
  color: #444;
  padding: 15px 0;
  margin: 0;
}
a.button {
  font: normal bold 15px/15px 'Arial', sans-serif;
  color: #4d216e; 
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #4d216e;
}
a.button:hover {
  color: #fff;
  background: #4d216e;
}
form {
  clear: both;
  overflow: hidden;
  width: 100%;
}
form input, form textarea {
  width: 96%;
  padding: 10px 2%;
  margin: 0 0 10px 0;
  border: 0;
  border-bottom: 2px solid #ccc;
  background: #f1f1f1;
  height: auto;
  font: normal normal 14px/20px 'Arial', sans-serif;
  letter-spacing: 0.02em;
  color: #555;
}
form input::placeholder, form textarea::placeholder {
  color: #888;
}
form input:invalid {
  border-bottom: 2px solid #dd0000;
  color: #dd0000;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
form input[type="submit"] {
  width: auto;
  font: normal bold 15px/15px 'Arial', sans-serif;
  color: #4d216e; 
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #4d216e;
  cursor: pointer;
}
form input[type="submit"]:hover {
  color: #fff;
  background: #4d216e;
}

/* LIGHTBOX */
.lightbox-wrap {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .85);
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  overflow-y: scroll;
}
.lightbox-wrap.open {
  opacity: 1;
  display: block;
}
.lightbox {
  width: 70%;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
#close {
  display: block;
  width: 22px;
  height: 22px;
  background: #990000;
  color: #fff;
  font: normal bold 18px/18px 'Arial', sans-serif;
  padding: 5px;
  text-align: center;
  float: right;
  margin: -10px -10px 0 0;
  cursor: pointer;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
#close:hover {
  background: #660000;
}
.cont {
  padding: 50px;
  clear: both;
  overflow: hidden;
  display: none;
  position: relative;
}
.cont.show {
  display: block;
}
.galnav {
  position: absolute;
  height: 100%;
  top: 0;
  width: 30px;
  color: #fff;
  text-align: center;
  font: normal bold 30px/30px 'Arial', sans-serif;
  padding: 10% 10px;
}
.galnav:hover {
  background: rgba(255, 255, 255, .5);
}
.galnav.prev {
  left: 30px;
}
.galnav.next {
  right: 30px;
}